.calendar_header_wrapper {
  flex-direction: column;
}
.calendar_filtering_wrapper {
  width: 63vw;
  padding-left: 50px;
}
.calendar_filtering_title {
  color: #151c26;
  text-align: justify;
  font-size: 32px;
  font-weight: 600;
}
.calendar_filter_item {
  padding: 0;
  color: #151c26;
  font-family: Montserrat;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 46px;
  font-size: 18px;
}
.calendar_filter_item:first-child {
  background: #ee42e7;
  color: #fff;
}
.calendar_filtering {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar_filtering_date {
  display: flex;
  align-items: center;
}
.calendar_filtering_items {
  display: flex;
  align-items: center;
  /* gap: 40px; */
}
.calendar_date_item {
  display: flex;
  justify-content: space-between;
}
.calendar_date_item p {
  margin: 0;
  margin-right: 10px;
  color: #151c26;
  font-family: Montserrat;
  font-weight: 600;
}
.calendar_dropdown {
  background: #9b9b9b;
}
.calendar_selected_date,
.calendar_dropdown {
  color: #fff;
  border-radius: 46px;
  cursor: pointer;
  padding: 10px 20px;
}
.calendar_selected_date {
  background: #0038ff;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.calendar_selected_date p {
  margin: 0;
  margin-right: 10px;
}
.calendar_dropdown,
.calendar_date_item,
.calendar_selected_date {
  font-size: 18px;
}
@media screen and (max-width: 1890px) {
  .calendar_filtering_title {
    font-size: 20px;
  }
  .calendar_filter_item,
  .calendar_dropdown,
  .calendar_date_item,
  .calendar_selected_date {
    font-size: 14px;
  }
}
@media screen and (max-width: 1600px) {
  .calendar_filtering_title {
    font-size: 18px;
  }
  .calendar_filter_item,
  .calendar_dropdown,
  .calendar_date_item,
  .calendar_selected_date {
    font-size: 12px;
  }
}
.event_wrapper {
  width: 350px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 6px 28px rgba(34, 43, 60, 0.12);
}
.event_wrapper_img img {
  width: 100%;
  border-radius: inherit;
}
.event_address,
.event_date {
  display: flex;
  align-items: center;
  gap: 10px;
}
.event_address p,
.event_date p {
  margin: 0;
}
.calendar_participate_btn {
  width: 100%;
  margin-top: 25px;
  background: #e6e6e6;
  border: none;
}
.event_info {
  padding: 30px 18px;
}
.event_title {
  color: #151c26;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.event_desc {
  color: rgba(49, 58, 75, 0.64);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}
.event_address,
.event_date {
  color: #151c26;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.event_wrapper_img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.event_info {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.event_address img,
.event_date img {
  width: 20px;
  height: 20px;
}
/* .event_date img {
  width: 15px;
  height: 15px;
} */
.event_date {
  margin-top: 10px;
}
@media screen and (max-width: 1715px) {
  .event_wrapper {
    width: 300px;
  }
  .event_title {
    font-size: 15px;
  }
  .event_address,
  .event_date,
  .event_desc {
    font-size: 12px;
  }
}
.calendar_container .headerContainer,
.calendar_filtering_wrapper,
.calendars_wrapper {
  width: 75vw;
}
.calendars_wrapper {
  justify-content: center;
  align-items: center;
}
