.navbarContainer,
.menu,
.link,
.lang {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarContainer {
  background-color: #fff;
  box-shadow: -6px 6px 16px rgba(8, 31, 66, 0.11);
  padding: 20px 0;
  gap: 30px;
  /* justify-content: space-evenly; */
  position: sticky;
  z-index: 99999;
  width: 100%;
  top: 0;
  left: 0;
}

.menu,
.link {
  gap: 30px;
}

.link a {
  color: var(--text-color);
  font-weight: 500;
}

.lang {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  padding: 20px;
  color: var(--text-color);
  text-transform: uppercase;
}
.activeLang {
  color: #fff;
  background-color: var(--main-color);
}
.lang:not(.activeLang) {
  opacity: 0;
  cursor: unset;
}
.openedLang {
  opacity: 1 !important;
  cursor: pointer !important;
}
.langsWrapper {
  display: flex;
  gap: 10px;
}
/* .link a,
.signIn-btn,
.lang {
  font-size: clamp(0.875rem, 0rem + 0.7292vw, 2.625rem);
}
.logo {
  width: clamp(4.75rem, 0rem + 3.9583vw, 14.25rem);
} */
/* .logo img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1920px) {
  .link a,
  .signIn-btn,
  .lang {
    font-size: clamp(0.729375rem, 0.0012rem + 0.7281vw, 0.875rem);
  }
  .logo {
    width: clamp(3.958125rem, -0.0013rem + 3.9594vw, 4.75rem);
  }
}
@media screen and (max-width: 1600px) {
  .link a,
  .signIn-btn,
  .lang {
    font-size: clamp(0.638125rem, -0.0006rem + 0.73vw, 0.729375rem);
  }
  .logo {
    width: clamp(3.46375rem, 0.0031rem + 3.955vw, 3.958125rem);
  }
}
@media screen and (max-width: 1400px) {
  .link a,
  .signIn-btn,
  .lang {
    font-size: clamp(0.583125rem, -0.0035rem + 0.7333vw, 0.638125rem);
  }
  .logo {
    width: clamp(3.166875rem, 0.0002rem + 3.9583vw, 3.46375rem);
  }
}
@media screen and (max-width: 1280px) {
  .link a,
  .signIn-btn,
  .lang {
    font-size: clamp(0.50125rem, 0.0009rem + 0.7278vw, 0.583125rem);
  }
  .logo {
    width: clamp(2.72125rem, -0.002rem + 3.9611vw, 3.166875rem);
  }
}
@media screen and (max-width: 1100px) {
  .link a,
  .signIn-btn,
  .lang {
    font-size: clamp(0.364375rem, -0.0006rem + 0.73vw, 0.50125rem);
  }
  .logo {
    width: clamp(1.979375rem, 0.001rem + 3.9567vw, 2.72125rem);
  }
} */
@media screen and (max-width: 800px) {
  .logo {
    width: fit-content;
  }
  .lang {
    font-size: 12px;
  }
  .link,
  .navbarContainer .btn:not(.lang) {
    display: none;
  }
  .navbarContainer {
    justify-content: space-between;
  }
  .hamburger {
    cursor: pointer;
    width: 7vw;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    z-index: 4;
  }
  .hamburger .line {
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 2px;
    transition: 0.3s ease;
  }
  .openedMobileMenu {
    position: fixed;
    background: #fff;
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 180px 40px 0 40px;
  }
  .logo {
    position: relative;
    z-index: 3;
    font-weight: 700;
  }
  .openedHamburger .line:first-child {
    transform: rotate(45deg) translate(7.5px, 9px);
  }
  .openedHamburger .line:nth-child(2) {
    opacity: 0;
  }
  .openedHamburger .line:last-child {
    transform: rotate(-45deg) translate(2.5px, -6px);
  }
  .logo span {
    opacity: 0;
    animation: reveal 0.5s ease forwards;
  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu .link {
    gap: 30px;
  }
  .menu {
    gap: 10vh;
  }
  .openedMobileMenu .link {
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }
  .link a {
    font-weight: 500;
    width: 100%;
  }
  .link a,
  .logo {
    font-size: clamp(2.109375rem, 0rem + 5.625vw, 2.8125rem);
  }
  .openedMobileMenu .link a {
    opacity: 0;
    transform: translateY(100%);
    animation: reveal 1s ease forwards;
    color: #151c26;
  }
  .openedMobileMenu .logout a {
    animation-delay: 0.7s;
  }
  .openedMobileMenu .bigPatternNav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
  }
  .openedMobileMenu .sidePattern1,
  .openedMobileMenu .sidePattern2 {
    position: absolute;
    left: 0;
  }
  .openedMobileMenu .sidePattern1 {
    top: 85px;
  }
  .openedMobileMenu .sidePattern2 {
    bottom: 0;
  }
  .langsWrapper {
    flex-direction: row-reverse;
    width: 20px;
  }
  .langsWrapper:has(.openedLang) {
    width: 100px;
    transition: 0.3s ease;
  }
}

@media screen and (max-width: 600px) {
  .link a,
  .logo {
    font-size: clamp(1.125rem, 0rem + 5.625vw, 2.109375rem);
  }
}

@keyframes reveal {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
